/*
 *  enlist.scss
 *
 *  CSS-variables:
 --pfy-enlist-field-bg
 --pfy-enlist-reserve-field-bg
 --pfy-enlist-title-bg
 */

 @mixin _pfy-enlist-button {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  border-radius: 3px;
  text-align: center;
  padding: 0;
  background: none;
}

#pfy .pfy-encapsulated.pfy-default-styling,
.pfy-default-styling {

  .pfy-enlistment-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 1em;
    .pfy-enlist-wrapper {
      flex: 1 0 14em;
    }
  }

  .pfy-enlist-table {
    border-collapse: collapse;
    width: 100%;
    th, td {
      border: 1px solid #ddd;
      padding: 5px;
    }
    .pfy-enlist-row-num {
      width: 1em;
      font-size: 85%;
      color: #aaa;
      text-align: right;
      left: 1px;
      padding-right: 1px;
    }
    .pfy-enlist-icon-1,
    .pfy-enlist-icon-2 {
      width: 2em;
      text-align: center;
    }
    &:not(.pfy-enlist-custom-fields) thead {
      display: none;
    }
  }

  .pfy-enlist-empty,
  .pfy-enlist-expired,
  .pfy-enlist-obfuscated,
  .pfy-enlist-add,
  .pfy-enlist-delete,
  .pfy-enlist-elem-frozen,
  .pfy-enlist-elem-pseudo-frozen,
  .pfy-enlist-field {
    background: var(--pfy-enlist-field-bg, #fffff6);
  }

  .pfy-enlist-table:not(.pfy-enlist-custom-fields) {
    .pfy-enlist-add .pfy-enlist-name {
      text-align: right;
    }
  }

  .pfy-enlist-table:not(.pfy-enlist-custom-fields) .pfy-enlist-icon-1,
  .pfy-enlist-custom-fields .pfy-enlist-icon-2 {
    display: none;
  }

  .pfy-enlist-icon-1,
  .pfy-enlist-icon-2 {
    button {
      @include _pfy-enlist-button;
    }

    button:empty {
      display: none;
    }
  }

  .pfy-enlist-title {
    position: relative;
    border: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    background-color: var(--pfy-enlist-title-bg, inherit);

    span:first-child {
      padding: 5px;
      font-weight: bold;
    }
    .pfy-tooltip {
      font-weight: normal;
    }

    button {
      width: 1.5em;
      height: 1.5em;
    }
  }

  .pfy-enlist-head-buttons {
    padding: 1px;

    button {
      font-size: 120%;
      padding: 0;

    }
  }

  .pfy-enlist-add {
    button {
      color: green;
      border-color: #4d4;
    }

    .pfy-enlist-name {
      color: gray;
      font-style: italic;
    }
  }

  .pfy-enlist-delete {
    button {
      color: red;
      border-color: red
    }
  }

  .pfy-enlist-reserve {
    background: var(--pfy-enlist-reserve-field-bg, #f6f6ff);
  }

  .pfy-enlist-delete-btn-wrapper {
    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
    .pfy-input-wrapper {
      width: unset;
    }
    label {
      font-style: italic;
    }
    input {
      float: right;
      margin-left: 1em;
    }
  }


  #pfy-enlist-form {
    display: none;
    background: yellow;
  }

  .pfy-popup-wrapper {
    .add, .del, .modify { display: none; }
  }
  .pfy-popup-wrapper.pfy-enlist-add-mode {
    .add { display: block; }
    .pfy-enlist-delete-checkbox {
      display: none;
    }
  }

  .pfy-popup-wrapper.pfy-enlist-modify-mode {
    .modify { display: block; }
  }

  .pfy-popup-wrapper.pfy-enlist-del-mode {
    .del { display: block; }
  }

  .pfy-enlist-delete-checkbox {
    font-weight: bold;
    direction: rtl;
    input {
      margin-left: 0.6em;
    }
  }

  .pfy-enlist-expired {
    .pfy-enlist-table td {
      cursor: not-allowed;
      filter: brightness(95%);
    }
  }
  .pfy-enlist-elem-pseudo-frozen {
    filter: brightness(95%);
  }
  .pfy-enlist-elem-frozen {
    cursor: not-allowed;
  }
  .pfy-enlist-admin .pfy-enlist-elem-frozen {
    filter: brightness(95%);
  }

  .pfy-enlist-wrapper:not(.pfy-enlist-admin) {
    .pfy-enlist-add,
    .pfy-enlist-delete {
      cursor: pointer;
    }
  }
  .pfy-enlist-admin {
    .pfy-enlist-email {
      display: inline-block;
      margin-left: 0.5em;
      overflow-wrap: anywhere;
    }
    .pfy-enlist-email::before {
      content: "<";
    }
    .pfy-enlist-email::after {
      content: ">";
    }
  }

  button.pfy-enlist-delete,
  button.pfy-enlist-add {
    @include _pfy-enlist-button;
  }
  button.pfy-enlist-delete {
    color: red;
    border-color: red
  }
    button.pfy-enlist-add {
      color: green;
      border-color: #4d4;
  }

  .pfy-empty-title {
    display: none;
  }

  .pfy-enlist-delete-mode {
    .pfy-enlist-directly {
      display: none;
    }
  }
} // .pfy-default-styling
