/*
  CSS-Variables:
--pfy-form-input-height		(2.2em)
--pfy-form-input-medium-width		(4em)
--pfy-form-input-medium-width		(10em)
--pfy-form-choice-option-width		(6em)
--pfy-form-label-width		(6em)
--pfy-form-reversed-label-width  (12em)
--pfy-form-input-width		(22em)
--pfy-form-row-gap-height		(1em)
--pfy-form-width		(28em)

--pfy-form-input-color		(--pfy-form-input-color-default)
--pfy-form-field-background-color		(--pfy-form-field-background-color-default)
--pfy-form-field-border		(--pfy-form-field-border-default)
--pfy-form-readonly-field-bg		(--pfy-form-readonly-field-bg-default)

--pfy-form-required-marker-color		(--pfy-form-required-marker-color-default)
--pfy-form-tooltip-anker-color		(inherit)
--pfy-form-field-description-color		(inherit)
--pfy-form-tooltip-color		(--pfy-form-tooltip-color-default)
--pfy-form-tooltip-bg		(--pfy-form-tooltip-bg-default)

--pfy-form-error-color-base		(20deg, 100%)

--pfy-problem-with-form-bg		(#fff9ee)
--pfy-problem-with-form-border		(orange)

--pfy-form-reveal-controller-bg		(--pfy-form-reveal-bg)
--pfy-form-reveal-controller-border		(--pfy-form-reveal-border)
--pfy-form-reveal-container-bg		(--pfy-form-reveal-bg)
--pfy-form-reveal-container-border		(--pfy-form-reveal-border)
--pfy-form-reveal-padding		(0)
 */

@import '~/site/plugins/pagefactory/scss/_scss-variables.scss';

$inputHeight:           var(--pfy-form-input-height, 2.2em);
$shortWidth:            var(--pfy-form-input-medium-width, 4em);
$mediumWidth:           var(--pfy-form-input-medium-width, 10em);
$choiceOptionWidth:     var(--pfy-form-choice-option-width, 5.8em);
$labelWidth:            var(--pfy-form-label-width, 6em);
$reversedLabelWidth:    var(--pfy-form-reversed-label-width, 12em);
$inputWidth:            var(--pfy-form-input-width, 22em);
$rowGapHeight:          var(--pfy-form-row-gap-height, 1em);
$formWidth:             var(--pfy-form-width, 28em);

$inputColor:            var(--pfy-form-input-color, var(--pfy-form-input-color-default));
$inputBg:               var(--pfy-form-field-background-color, var(--pfy-form-field-background-color-default));
$inputBorder:           var(--pfy-form-field-border, var(--pfy-form-field-border-default));
$readonlyBg:            var(--pfy-form-readonly-field-bg, var(--pfy-form-readonly-field-bg-default));

$requiredMarkerColor:   var(--pfy-form-required-marker-color, var(--pfy-form-required-marker-color-default));
$tooltipAnkerColor:     var(--pfy-form-tooltip-anker-color, inherit);
$fieldDescriptorColor:  var(--pfy-form-field-description-color, inherit);
$tooltipColor:          var(--pfy-form-tooltip-color, var(--pfy-form-tooltip-color-default));
$tooltipBg:             var(--pfy-form-tooltip-bg, var(--pfy-form-tooltip-bg-default));

$errorColorBase:        var(--pfy-form-error-color-base);
$errorColor:            hsl(var(--pfy-form-error-color-base), 50%);
$errorBg:               hsl(var(--pfy-form-error-color-base), 99%);
$errorBorder:           hsl(var(--pfy-form-error-color-base), 90%);

$problemWithFormBg:     var(--pfy-problem-with-form-bg,     #fff9ee);
$problemWithFormBorder: var(--pfy-problem-with-form-border, orange);

$formRevealControllerBg:    var(--pfy-form-reveal-controller-bg, var(--pfy-form-reveal-bg));
$formRevealControllerBorder:var(--pfy-form-reveal-controller-border, var(--pfy-form-reveal-border));
$formRevealContainerBg:     var(--pfy-form-reveal-container-bg, var(--pfy-form-reveal-bg));
$formRevealContainerBorder: var(--pfy-form-reveal-container-border, var(--pfy-form-reveal-border));
$formRevealPadding:         var(--pfy-form-reveal-padding);

#pfy .pfy-encapsulated.pfy-default-styling,
.pfy-default-styling {
  .pfy-form-colored {
    --pfy-form-input-color-default:             inherit;
    --pfy-form-error-color-base:                20deg, 100%; // red
    --pfy-form-field-background-color-default:  #fffff6;
    --pfy-form-field-border-default:            1px solid #b4b3b3;
    --pfy-form-required-marker-color-default:   orange;
    --pfy-form-tooltip-bg-default:              #fef5e0;
    --pfy-form-tooltip-color-default:           #222;
    --pfy-form-readonly-field-bg-default:       #f8f8f8;

    --pfy-form-reveal-border: 1px solid #eee;
    //--pfy-form-reveal-bg: #eee;
  }

  input[type=cancel],
  input[type=submit],
  input[type=button],
  button {
    cursor: pointer;
  }

  .pfy-label-wrapper, .pfy-input-wrapper {
    display: inline-block;
    vertical-align: top;
  }

  .pfy-label-wrapper {
    width: $labelWidth;

    label {
      display: inline-block;
    }
  }
  .pfy-elem-wrapper {
    line-height: 1em;
  }
  .pfy-elem-wrapper:not(.pfy-choice) {
    .pfy-label-wrapper label {
      margin-top: calc((#{$inputHeight} - 1em) / 2);
      margin-bottom: 0.25em;
    }
  }
  .pfy-choice {
    &.pfy-horizontal label {
      padding-right: 1em;
    }
    .pfy-label-wrapper {
      margin-top: calc((#{$inputHeight} - 1em) / 2);
    }
    &:not(.pfy-horizontal) .pfy-choice-wrapper {
      width: 100%;
    }
  }

  .pfy-password .pfy-input-wrapper {
    position: relative;
    input {
      padding-right: 2em;
    }
  }
  .pfy-form-show-pw {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    width: 2em;
    height: #{$inputHeight};
    opacity: 0.5;
    &:hover,
    &:focus-visible {
      opacity: 1;
    }

    svg {
      position: absolute;
      top: calc((#{$inputHeight} - 1em) / 2 - 0.1em);
      right: 0.3em;
      width: 1.4em;
      height: 1.4em;
    }
    .pfy-icon-close {
      display: none;
    }
    &.show {
      .pfy-icon-close {
        display: block;
      }
      .pfy-icon-show {
        display: none;
      }
    }
  }
  .pfy-input-wrapper {
    width: calc(100% - #{$labelWidth} - 0.3em);
    // width: calc(100% - #{$labelWidth} - 0.25em);
    max-width: $inputWidth;

    input, textarea {
      width: 100%;
      padding: calc((#{$inputHeight} - 1em) / 2) 0.5em;
    }
    input, select {
      height: $inputHeight;
    }
    input.pfy-choice {
      height: 1em;
      width: 1em;
      margin-right: 0.4em;
      transform: translateY(3px);
      font-size: 1em;
    }
    input, textarea, select {
      line-height: 1em;
      color:            $inputColor;
      background-color: $inputBg;
      border: $inputBorder;
      border-radius: 4px;
    }
  }
  .pfy-choice .pfy-input-wrapper {
    max-width: unset;
    label {
      padding-top: calc((var(--pfy-form-input-height, 2.2em) - 1em) / 2);
      padding-bottom: calc((var(--pfy-form-input-height, 2.2em) - 1em) / 2);
    }
  }
  .pfy-choice-wrapper {
    display: inline-block;
  }
  .pfy-single-checkbox {
    .pfy-input-wrapper {
      width: 100%;
      max-width: unset;
    }
    .pfy-choice-wrapper {
      width: 100%;
    }
    label {
      width: calc(100% - 1.5em);
    }

    &.reversed {
      .pfy-label-wrapper {
        display: none;
      }
      .pfy-choice-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        label {
          width: var(--pfy-form-label-width, 6em);
          margin-right: 0.25em;
        }
        input {
          margin-top: calc((var(--pfy-form-input-height, 2.2em) - 1em) / 2 - 3px);
        }
      }
    }
  }

  .pfy-elem-wrapper.reversed:not(.pfy-single-checkbox) .pfy-choice-wrapper {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: 1em;
    label {
      width: $reversedLabelWidth;
      margin-right: 0.25em;
      padding-right: 0.5em;
      text-align: right;
      min-width: unset;
    }
    label:after {
      content: ':';
    }
    input {
      margin-top: calc((var(--pfy-form-input-height, 2.2em) - 1em) / 2 - 3px);
    }
  }

  .pfy-multiselect select  {
    height: unset;
    padding: 2px;
  }

  .pfy-elem-wrapper {
    margin-top: calc(#{$rowGapHeight} / 2);
    margin-bottom: calc(#{$rowGapHeight} / 2);
  }

  .pfy-elem-wrapper.pfy-required .pfy-label-wrapper label::after,
  label.pfy-required::after {
    content: '*';
    color: $requiredMarkerColor;
    padding-left: 0.1em;
  }
  .pfy-elem-wrapper.pfy-required-group .pfy-label-wrapper label::after,
  label.pfy-required-group::after {
    content: attr(data-required-group);
    color: $requiredMarkerColor;
    padding-left: 0.1em;
    position: absolute;
  }
  .pfy-elem-wrapper.pfy-required-group .pfy-label-wrapper label::after,
  .pfy-form-required-group-marker {
    font-size: 60%;
    transform: translateY(-0.5em);
  }

  .pfy-form-required-group-marker,
  .pfy-form-required-marker {
    color: $requiredMarkerColor;
    display: inline-block;
    min-width: 1rem;
  }

  .pfy-table-data-output-wrapper {
    margin-top: 3em;
    max-width: 100vw;
    overflow-x: auto;
    position: relative;
  }
  .pfy-table-edit-popup .pfy-table-data-output-wrapper {
    margin-top: 0;
  }

  .pfy-label-wrapper {
    position: relative;
  }

  .pfy-tooltip-anker {
    border: none;
    background: none;
    padding: 0;
    margin-left: 0.5em;
    color: $tooltipAnkerColor;
    font-size: 80%;
    font-family: "Times New Roman", serif;
    opacity: 0.8;
  }

  .pfy-tooltip-anker:hover,
  .pfy-tooltip-anker:hover {
    opacity: 1;
  }

  .pfy-tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(2em, 2em);
    width: max-content;
    max-width: min(33em, 80vw);
    background: $tooltipBg;
    color: $tooltipColor;
    z-index: 1;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 5px #888;
  }

  .pfy-tooltip-anker:focus + .pfy-tooltip,
  .pfy-tooltip-anker:hover + .pfy-tooltip {
    display: block;
  }

  .pfy-form {
    max-width: $formWidth;
    textarea::placeholder,
    input::placeholder {
      text-align: right;
      font-style: italic;
      font-size: 80%;
    }
    select {
      min-width: $mediumWidth;
      max-width: 100%;
    }
    .pfy-single-checkbox {
      .pfy-label-wrapper {
        display: none;
      }
      input {
        vertical-align: top;
        margin-top: calc((var(--pfy-form-input-height, 2.2em) - 1.7em) / 2);
      }
    }
    .error,
    .pfy-input-wrapper input + span {
      padding: 0.4em;
      display: block;
      color: $fieldDescriptorColor;
    }
    .pfy-input-wrapper .error {
      color: $errorColor;
    }
  }
  .pfy-form-field-description {
    padding: 0.4em 0 0.2em 0.5em;
    display: inline-block;
  }

  .pfy-form-elem-alert {
    padding: 0.5em;
    margin: 0 0 1em 0;

    border: 1px solid red;
    background: #fee;
  }

  .pfy-elem-wrapper.button {
    text-align: right;
    .pfy-label-wrapper {
      display: none;
    }
    input {
      @include _pfy-button;
      width: fit-content;
      margin-right: 0.3em;
      &.pfy-submit.button {
        border: 1px solid black;
      }
    }
    input:last-child {
      margin-right: 0;
    }
  }

  // standard width modifiers:
  input.short {
    width: $shortWidth;
  }
  input.medium,
  select.medium,
  textarea.medium {
    width: $mediumWidth;
  }
  .pfy-elem-wrapper.half-width,
  .pfy-elem-wrapper.pfy-half-width {
    display: inline-block;
    width: calc(50% - 0.2rem);
  }
  .pfy-elem-wrapper.half-width.left,
  .pfy-elem-wrapper.pfy-half-width.left {
    padding-right: 1em;
  }


  // === large screen ========================================
  &.pfy-large-screen {
    .pfy-elem-wrapper.button {
      margin-right: 3px;
    }
  }


  // === small screen ========================================
  &.pfy-small-screen {
    .pfy-form {
      .pfy-elem-wrapper:not(.short) {
        --pfy-form-input-width: 100%;

        .pfy-label-wrapper,
        .pfy-label-wrapper label,
        .pfy-input-wrapper,
        .pfy-input-wrapper input {
          width: 100%;
        }
      }
      .pfy-elem-wrapper.pfy-choice .pfy-choice-wrapper {
        input {
          width: 1em;
        }
        label {
          width: calc(100% - 1.5em);
        }

      }

      .pfy-submit .pfy-input-wrapper {
        input.button {
          max-width: 49%;
        }
      }
    }
  } // pfy-small-screen



  .pfy-input-wrapper {
    label {
      min-width: $choiceOptionWidth;
      display: inline-block;
    }
  }
  .pfy-input-wrapper label input {
    width: fit-content!important;
    margin-right: 0.5em;
  }

  .pfy-textarea {
    .pfy-label-wrapper,
    .pfy-input-wrapper,
    .pfy-input-wrapper textarea {
      width: 100%;
      max-width: unset;
    }

    // textarea auto-grow feature:
    // source: https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
    &.pfy-auto-grow .pfy-input-wrapper {
      display: grid;
      &::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
      }
      &> textarea {
        resize: none;
        overflow: hidden;
      }
      &::after,
      &> textarea {
        padding: calc((#{$inputHeight} - 1em) / 2) 0.5em;
        font: inherit;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
      }
    }
  }

  .pfy-elem-wrapper.pfy-reveal-controller {
    background: $formRevealControllerBg;
    border: $formRevealControllerBorder;
    border-bottom: none;
    position: relative;
    width: 100%;
    padding-left: $formRevealPadding;
    padding-right: $formRevealPadding;
    margin-top: $rowGapHeight;
    .pfy-label-wrapper {
      display: none;
    }
    .pfy-input-wrapper  {
      width: calc(100% - 2em);
    }
    .pfy-reveal-controller-label label {
      margin-left: 1em;
      display: inline-block;
      width: calc(100% - 1em);
      cursor: pointer;
      padding-top: calc(#{$rowGapHeight} / 2);
      padding-bottom: calc(#{$rowGapHeight} / 2);
    }
  }
  .pfy-reveal-controller {
    padding: 0;
  }

  .pfy-elem-wrapper.pfy-submit {
    .pfy-input-wrapper {
      width: 100%;
      max-width: 100%;
    }
  }

  .pfy-form .pfy-reveal-container {
    background: $formRevealContainerBg;
    border: $formRevealContainerBorder;
    border-top: none;
    padding-left: $formRevealPadding;
    padding-right: $formRevealPadding;
    margin-bottom: $rowGapHeight;
    .pfy-reveal-container-inner.pfy-reveal-container-inner {
      padding-top: 0.5em;

      .pfy-elem-wrapper.pfy-textarea {
        padding-top: 0;

        .pfy-label-wrapper {
          display: none;
        }
      }
    }
  }
  .pfy-elem-wrapper input.pfy-reveal-controller::before {
    left: calc(-0.2em + #{$formRevealPadding}) !important;
    top: 0.4em;
  }

  .pfy-form-wrapper {
    noscript {
      position: absolute;
      padding: 2em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fee;
      border: 1px solid red;
    }
    position: relative;
  }

  .pfy-obfuscate {
    position: absolute;
    left: -100000px;
  }
  &.debug .pfy-obfuscate {
    background: #fee;
    position: unset;
    left: unset;
  }

  #pfy-check-input {
    width: 2em;
    margin-bottom: 3px;
    border-width: 1px;
    padding: 4px 5px;
  }

  input.pfy-upload,
  input.pfy-multiupload{
    border: none;
    background: transparent;
  }

  input[readonly],
  input.pfy-readonly {
    background: $readonlyBg;
    border: $inputBorder;
    cursor: initial;
  }

  input[disabled] {
    filter: brightness(85%);
  }

  .pfy-overlay-background {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(50,50,50,0.8);
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    .pfy-timeout-img {
      max-width: 40vw;
    }
  }

  .pfy-overlay-background-frozen {
    overflow: hidden;
  }


  .pfy-problem-with-form-hint {
    background: $problemWithFormBg;
    border: 1px solid $problemWithFormBorder;
    padding: 1em;
    margin-top: 3em;
  }


  // === Errors ==========================
  .pfy-form-errors {
    border: 1px solid $errorBorder;
    background: $errorBg;
    margin-left: -0.5em;
    padding: 0.5em;
  }
  .pfy-form-error-msg {
    color: $errorColor;
    padding: 0.5em 0;
    font-style: italic;
  }

  .pfy-form-elem-has-error {
    border: 1px solid $errorBorder;
    background: $errorBg;
    margin-left: -0.5em;
    padding: 0.5em 0.5em 0 0.5em;
  }
  .pfy-form-elem-error-msg {
    color: $errorColor;
    padding: 0.5em 0;
    font-style: italic;
    text-align: right;
  }

  .pfy-form-response  {
    margin: 1em 0 2em;
  }

  .pfy-form-admin {
    @include _striped(251, 50%);
  }

  &.debug.pfy-form-data-received .pfy-show-unless-form-data-received {
    @include _striped(40, 50%);
    display: block !important;
  }

} // .pfy-default-styling



