

#pfy.pfy-default-styling .pfy-encapsulated,
.pfy-default-styling {

  .pfy-login-wrapper {
    --form-label-width: 8em;
    > div {
      padding: 1em 3em;
      border: 1px solid #ddd;
    }
    .pfy-form {
      width: 25em;
    }
    .pfy-login-mode-links {
      span {
        display: inline-block;
        padding: 0.8em 1em 0.8em 0;
      }
      span:last-child {
        padding-right: 0;
      }
    }
    .pfy-login-otc {
      .pfy-password,
      .pfy-login-code {
        display: none;
      }
    }
    &:not(.pfy-login-code) {
      .pfy-login-code {
        display: none;
      }
    }
    &.pfy-login-code {
      .pfy-login-code {
        display: block;
      }
      .pfy-email,
      .pfy-password,
      .pfy-login-mode-links {
        display: none;
      }
    }
  }

}
