
.pfy-users .mdp-tabulator-wrapper {
    --tt1-width: 8em;
    .tt1 {
        padding-left: 1.4em;
    }
}

.pfy-default-styling {
  .pfy-ical-link {
    padding: 0 0.3em;
  }
  .pfy-ical-icon a {
    text-decoration: none;
  }
}
