/*
**  SlideShow Base Styles
**
**  'withhold'      -> for use in source
**  'pfy-withheld'  -> used by scripts
*/


body:not(.pfy-presentation-active) .pfy-section-wrapper {
  font-size: initial!important;
}

.pfy-default-styling {
    .pfy-slide-nr {
      font-size: 60%;
      font-weight: normal;
      color: gray;
      margin-right: 0.5em;
      border-bottom: none;
    }
    
    .speaker-notes {
      display: none;
    }

}