/* === Reveal block ================== */
#pfy .pfy-encapsulated.pfy-default-styling,
.pfy-default-styling {


  .pfy-reveal-controller {
    &,
    &::before {
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
      padding: 0;
      color: inherit;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 2em;
      height: 2em;
      text-align: center;
      margin: 0;
      content: attr(data-icon-closed);
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      transition: transform 0.3s;
      transform-origin: 50% 50%;
    }
    transform: rotate( 0 );
    &:checked::before {
      content: attr(data-icon-open);
      transform: rotate( 180deg );
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: transparent;
    position: relative;
    font-size: inherit;
    width: 2em;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    padding: 0.5em 0;
    input:focus-visible {
      outline: unset !important;
    }
  } // .pfy-reveal-controller

  .pfy-reveal-controller-wrapper {
    margin-top: 0.5em;
    label {
      width: calc(100% - 2em - 6px);
      margin-left: -0.1em;
      transform: translateY(0.1em);
      cursor: pointer;
      display: inline-block;
    }
    &:focus-within {
      outline: 1px solid var( --pfy-form-focus-color, magenta);
    }
  }
  .pfy-reveal-frame {
    border: 1px solid #ddd;
    + .pfy-reveal-container > .pfy-reveal-container-inner {
      padding: 1em;
      border: 1px solid #ddd;
      border-top: none;
    }
    &.pfy-target-revealed {
      border-bottom: none;
    }
  } // .pfy-reveal-controller-wrapper



  // === reveal-container =============================
  .pfy-reveal-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 0.7em;

    .pfy-reveal-container-inner {
      margin-top: -10000px;
      opacity: 0;
    }

    &.pfy-elem-revealed {
      .pfy-reveal-container-inner {
        opacity: 1;
      }
    }
    .pfy-reveal-container-inner {
      padding-top: 1em;
    }
    &.pfy-elem-revealing .pfy-reveal-container-inner {
      opacity: 1;
      transition: margin-top 0.3s;
    }
  }
}


