/*
 * sayTTS.scss
 */

#pfy.pfy-default-styling .pfy-tts-widget,
.pfy-default-styling .pfy-tts-widget {
  position: relative;
  width: 9em;

  .pfy-button {
    font-size: 1em;
    position: relative;
    .pfy-pause-icon {
      transform: scale(1.5);
    }
  }
  .pfy-tts-speed-wrapper {
    display: none;
  }
  .pfy-tts-buttons {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .pfy-player-icon {
    height: 1em;
  }
  span.pfy-tts-speed-wrapper {
    margin-top: 0.3em;
    label {
      flex: 1 0 2.5em;
      text-align: center;
    }
    width: 100%;
    font-size: 0.8em;
    gap: 0.1em;
    label {
      flex: 0 1 auto;
      span {
        display: block;
      }
    }
  }
  div.pfy-tts-speed-wrapper {
    box-shadow: inset 0 0 4px gray;
    background: #eee;
    padding: 0.2em;
  }
  &.pfy-tts-open {
    .pfy-tts-buttons {
      display: flex;
      gap: 0.3em;
      button {
        flex: 1 0 2.8em;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .pfy-tts-speed-wrapper {
      display: flex;
      justify-content: space-between;

    }
    .pfy-tts-open {
      opacity: 0;
    }
  }

} // .pfy-tts-widget


.pfy-default-styling {
  .pfy-no-webspeech {
    .pfy-tts-widget {
      display: none;
    }
  }
}

