/* === Tables ================= */
#pfy .pfy-encapsulated,
& {

    .pfy-div-table-row {
        display: flex;
    }

    /* === pfy-tables  */
    .pfy-table {
        border-collapse: collapse;

        tr {
            vertical-align: top;
        }
    }

    .pfy-table-wrapping tr {
        display: flex;
        flex-wrap: wrap;
    }

    .dataTable,
    .pfy-dataTable {
        .sorting {
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center right;
            background-image: url("../rsc/sort_both.png");
        }

        .sorting.sorting_asc {
            background-image: url("../rsc/sort_asc.png");
        }

        .sorting.sorting_desc {
            background-image: url("../rsc/sort_desc.png");
        }
    }


    .pfy-table-default {
        border-collapse: collapse;

        tr {
            vertical-align: top;
        }

        td, th {
            padding: 0.3em 0.6em;
            border: 1px solid #ddd;
            font-size: 90%;
        }

        .pfy-cell-no-overflow {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .pfy-table-add-rec-btns {
            margin-bottom: 0.5em;
        }

        &.pfy-table-editable .pfy-table {
            outline: 1px solid orange;

            td.pfy-editable {
                background: #fffff1;
            }
        }

        .pfy-table-control-btn {
            border: 1px solid #d1d1d1;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            background: none;

            a {
                border-bottom: none;
            }

            .pfy-icon::before {
                top: 48%;
            }
        }

        .pfy-table-btn-col {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        &.dataTable {
            th.pfy-table-btn-col,
            th.pfy-table-row-selector {
                padding: 8px 10px;
                width: 1rem !important;
            }
        }

        .pfy-edit-rec-form .pfy-popup-wrapper {
            --pfy-form-width: 44.5em;
            max-width: unset;
        }

        #pfy-edit-rec-delete-checkbox legend {
            display: none !important;
        }
    }
    .pfy-edit-data-form .pfy-edit-rec-delete-checkbox legend.pfy-legend {
        display: none;
    }
    .pfy-table-default {
        table.dataTable tbody button,
        table.dataTable tbody tr {
            color: #444;
        }
        .pfy-table-btn-col,
        .pfy-table-row-selector {
            &.sorting,
            &.sorting_asc,
            &.sorting_desc {
                background: none;
                padding: 9px 0 0 11px;
            }
        }
        &.pfy-table-row-numbers .pfy-table-delete-rec-btn {
            margin-left: 2.3em;
        }
        .pfy-spacer {
            opacity: 0;
        }
    }
} // pfy-encapsulated

//#pfy .pfy-encapsulated.pfy-edit-data-form .pfy-edit-rec-delete-checkbox legend.pfy-legend {
//  display: none;
//}
//#pfy .pfy-table-default {
//  table.dataTable tbody button,
//  table.dataTable tbody tr {
//    color: #444;
//  }
//  .pfy-table-btn-col,
//  .pfy-table-row-selector {
//    &.sorting,
//    &.sorting_asc,
//    &.sorting_desc {
//      background: none;
//      padding: 9px 0 0 11px;
//    }
//  }
//  &.pfy-table-row-numbers .pfy-table-delete-rec-btn {
//    margin-left: 2.3em;
//  }
//  .pfy-spacer {
//    opacity: 0;
//  }
//}


